body {
    margin: 0;
    font-size: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 30px;
}

header {
    background-color: #a8893b;
    text-align: center;
    padding: 50px 0;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
}

header h1 {
    font-family: 'Allura', cursive;
    color: #e8e8e8;
    font-size: 60px;
}

h2 {
    font-size: 40px;
    color: #a8893b;
    line-height: 50px;
}

header img {
    border-radius: 140px;
    width: 250px;
    border: 15px solid white;
}

main {
    max-width: 780px;
    margin: 0 auto;
    padding: 10px 10px 20px;
}

main img {
    max-width: 100%;
    padding: 20px 0 0;
}

a {
    color: #a8893b;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    background-color: #a8893b;
    color: #e8e8e8;
}

p {
    text-align: justify;
}

footer {
    background-color: #80682c;
    color: white;
    padding: 15px 0;
    letter-spacing: 2px;
}

footer p {
    text-align: center;
}


p.caption {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: #a8893b;
    padding-bottom: 10px;
    font-family: 'Allura', cursive;
}

li {
    list-style: none;
    background-image: url("img/list-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50px;
    padding: 20px 0 20px 60px;
    margin: 0;
}

